# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mdarif/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mdarif/index.php [L]
</IfModule>

# END WordPress
